body {
    margin: 0;
}

.top-bar {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
}

.corp-name{
    margin: 0;
    color: white;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.hero{
	width: 100%;
	height: 500px;
	background-image: url("img/salesforce-tower.jpg");
	background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

.tag-line {
    color: rgba(50,50,50,1);
    font-size: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-indent: 3%;
    width: 100%;
    position: absolute;
    top: 30%;
}

.below-hero {
    position: relative;
    top: 400px;
}

.description {
    margin-left: 150px;
    padding: 4px;
}

.desc-title {
    margin: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7em;
    text-align: center;
}

.desc-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 500; 
    padding: 0px 5px;
}

.other-pages {
    height: auto;
    margin-left: 150px;
}

.contact-info {
    height: 400px;
    width: 150px;
    background-color: powderblue;
    float: left;
}
.contact-info-text {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    padding: 40px 0px 20px 10px;
}

.contact-info-line {
    font-weight: 500;
    padding: 15px 0px 10px 0px;
}

.row {
    margin: 15px 15px 0px 15px;
}

.img-links {
    width: 100%;
}

.node-link {
     cursor: pointer;
}

.footer-info {
    height: 50px;
    background-color: rgba(50,50,50,1);
}