html, body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container {
  max-width: 980px;
  margin: 0 auto;
}

span {
  color: #ffc200;
}


/*Jumbotron */

.jumbotron {
	background-color: transparent;
}

.jumbotron h2 {
	font-size: 45px;
	margin-bottom: 120px;
}

/*Banner*/

.banner {
	background-color: black;
}

.section {
	text-align: center;
	color: #fff;
}

img {
	max-width: 100%;
	max-height: 100%;
}

p {
	display: inline;
	font-size: 16px;
}



.background {
	height: 600px;
}


/*supporting*/

.supporting {
	background-color: #ffc200;
	padding: 40px 40px;

}


.supporting-1 {
	margin-bottom: 150px;

}


/*main*/

.main {
	background-color: #ffc200;
	padding: 80px 80px;
}

/*footer*/

.footer{
  background-color: black;
}

.footer .col-md-4{
  color: #fff;
}

.footer img {
  width: 24px;
  margin-top: 10px;
  margin-right: 10px;
}



